<!-- display questions -->
<p><%= erb :_display_question, layout: false %></p>
<!-- diplay comments -->
<p><%= erb :_display_comments_for_questions, layout: false %></p>
<!-- add comment to questions -->
<p><%= erb :_comment_form_questions, layout: false %></p>
<!-- display answers -->
<p><%= erb :_display_answers, layout: false %></p>
<!-- add answer -->
<p><%= erb :_answer_form, layout: false %></p>
<!-- display comments to answers -->
<p><%= erb :_display_comments_for_answers, layout: false %></p>
<!-- add comment to answer -->
<p><%= erb :_comment_form_to_answers, layout: false %></p>

