<div class ="container">
<!-- display questions -->
<p><%= erb :_display_question, layout: false %></p>
<!-- diplay comments -->
<h3>All Comments for Questions:</h3>
<p><%= erb :_display_comments_for_questions, layout: false %></p>
<!-- add comments form to questions -->
<p><%= erb :_comment_form_to_questions, layout: false %></p>
<!-- display answers -->
<h3>List of All Answers:</h3>
<p><%= erb :_display_answers, layout: false %></p>
<p><%= erb :_answer_form, layout: false %></p>
<!-- add diplay comments to answers -->
<h3>All Comments for Answers:</h3>
<p><%= erb :_display_comments_for_answers, layout: false %></p>
<!-- add comments form to answers -->
<p><%= erb :_comment_form_to_answers, layout: false %></p>

</div>
